* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container-wrap {
background-color: red;
height: 100vh;
}

/* TYPOGRAPHY */
.logo i {
  font-size: 40px;
}

.logo span {
  font-size: 28px;
}
/* MAIN */

main {
  height: calc(100% - 80px);
  width: 100%;
}

main::after {
    content: "";
    display: table;
    clear: both;
}

/* SIDEBAR */

.sidebar {
  float: left;
  background-color: blue;
  width: 300px;
  height: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.sidebar .logo, .sidebar .main-nav, .sidebar .secondary-nav, .sidebar .asidebar-bottom {
  flex-shrink: 0;
}
.logo {
  background: pink;
}

.main-nav {
  background-color: yellow;
}

.secondary-nav {
  background: purple;
  height: 100%;
  overflow-y: hidden;
}

.playlist-nav {
background: lightcoral;
overflow-y: auto;
}

.asidebar-bottom {
  height: 80px;
  background: grey;
  margin-top: auto;
}

/* MAIN CONTENT */

.main-content {
  float: left;
  background-color: #141A23;
  height: 100%;
  width: calc(100% - 300px)
}

.upgrade {
  background-color: green;
  height: 80px;
}

/* footer */
.player {
  background-color: #282828;
  height: 80px;
}

/* media queries */

@media screen and (max-width: 768px) {
  .sidebar {
    width: 50px;
  }

  .main-content {
    width: calc(100% - 50px);
  }
}
