* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container-wrap {
background-color: red;
height: 100vh;
}

/* MIX */

.list-none {
  list-style: none;
}

.m_top_10 {
  margin-top: 10px;
}

.m_bottom_10 {
  margin-bottom: 10px;
}
.p_top_20 {
  padding-top: 20px;
}

.p_bottom_20 {
  padding-bottom: 20px;
}

.p_bottom_10 {
  padding-bottom: 10px;
}

a {
  text-decoration: none;
}

/* TYPOGRAPHY */

body {
  font-family: 'Montserrat', sans-serif;
}

.logo i {
  font-size: 42px;
}

.logo span {
  font-size: 30px;
}

.title-nav i {
  font-size: 50px;
}

.sidebar li {
  font-weight: 500;
}

.playlist-nav li {
  font-size: 15px;
}

.asidebar-bottom a {
  font-size: 12px;
}

.upgrade a, .main-menu li {
  font-size: 14px;
  font-weight: bold;
}

.main-player {
  font-size: 12px;
}
/* colors */

.sidebar li, .title-nav a, .asidebar-bottom a, .main-menu li a, .main-player p {
  color: #6E6E6E;
}
/* MAIN */

main {
  height: calc(100% - 80px);
  width: 100%;
}

main::after {
    content: "";
    display: table;
    clear: both;
}

/* SIDEBAR */

.sidebar {
  float: left;
  background-color: #000;
  width: 250px;
  height: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.sidebar .logo, .sidebar .main-nav li, .sidebar .secondary-nav .title-nav, .secondary-nav .playlist-nav li, .sidebar .asidebar-bottom {
  padding-left: 20px;
}

.sidebar .logo, .sidebar .main-nav, .sidebar .asidebar-bottom {
  flex-shrink: 0;
}

.sidebar li:hover {
  border-left: 4px solid #ADFF2D;
}

.logo i, .logo span, .title-nav i, .title-nav span {
  vertical-align: middle;
}

.main-nav {
  line-height: 30px;
}

.main-nav img, .asidebar-bottom img {
  width: 10%;
  padding-right: 5px;
  vertical-align: middle;
}


.secondary-nav {
  height: calc(100% - 80px);
  overflow: hidden;
}

.playlist-nav {
  line-height: 30px;
  height: 80%;
  overflow-y: auto;
}

.asidebar-bottom {
  height: 80px;
  margin-top: auto;
}

.asidebar-bottom hr {
  width: 80%;
}

.asidebar-bottom h4 img, .sidebar_xs_bottom img:last-of-type {
  background-color: grey;
  border: 1px solid grey;
  border-radius: 60%;
  padding: 2px;
  margin-right: 4px;
}

.sidebar_xs {
  width: 70px;
  height: 100%;
  float: left;
  background-color: #000;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.sidebar_xs_top, .sidebar_xs_bottom {
  width: 100%;
  padding: 20px;
}


/* MAIN CONTENT */

.main-content {
  float: left;
  background-color: #141A23;
  height: 100%;
  width: calc(100% - 250px)
}

.upgrade {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color:rgba(0,0,0,0.3);
  height: 80px;
  width: 100%;
}

.upgrade a {
  text-transform: uppercase;
  border: 1px solid #fff;
  border-radius: 18px;
  padding: 10px 30px;
  margin-right: 20px;
  color: #fff;
}

/* main menu */

.main-menu {
  display: flex;
  line-height: 30px;
  justify-content: center;
  max-height: 100px;
}

.main-menu ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.main-menu li {
  padding: 10px;
  display: inline-block;
  text-transform: uppercase;
}

.main-menu li a::after {
  content: "";
  display: none;
  height: 2px;
  width: 50%;
  background-color: #ADFF2D;
  margin: auto;
}

.main-menu li:hover a::after{
  display: block;
}

/* MAIN WRAP */

.main-wrap {
  height: calc(100% - 80px);
  color: #fff;
}

.main-player {
  height: calc(100% - 50px);
  overflow-y: auto;
  padding: 10px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
  margin-bottom: 10px;
}

.box {
  text-align: center;
  width: calc((100% / 6) - 10px);
  margin: 5px;
}

.box_foto {
  width: 100%;
  height: 70%;
  position: relative;
}

.box_text {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
}

.box img {
  width: 100%;
  position: relative;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color:rgba(0,0,0,0.3);
}

/* footer */
.player {
  background-color: #282828;
  height: 80px;
}

/* media queries */
@media screen and (max-width: 992px) {
  .box {
    width: calc((100% / 4) - 10px);
  }

  .main-player {
    height: calc(100% - 100px);
}

@media screen and (max-width: 768px) {

  .box {
    width: calc((100% / 2) - 10px);
  }
}

@media screen and (max-width: 597px) {

  .sidebar {
    display: none;
  }

  .sidebar_xs {
    display: flex;
  }

  .main-content {
    width: calc(100% - 70px);
  }
}
